h1 ::first-letter{
    font-size: 2em;
    font-style: italic;
}
p::first-line{
    background-color:blue;
}
p::selection{
    color:white;
    background-color:grey;
}
/*selection pseudo element is used to change the color of the selected text*/

#fruits li::before{
    content:"️✔️";

}
#apple::after{
    content:"🍎";
}
#banana::after{
    content:"🍌";
}
#orange::after{
    content:"🍊";
}
/*content property is used to add content before or after the element*/
#fruits li::marker{
    content:"️✔️";
    color:green;
    font-size: 1.2em;
}
.pagination{
    text-align: center;
}
.pagination a {
    color: black;
    text-decoration: none;
    padding: auto;
    display: inline-block;

}
.pagination a:hover{
    background-color: black;
    color: white;

}
.pagination a.active{
    background-color: rgb(41, 162, 32);
    color: white;
}
.pagination{
    bottom: 40px;
    position: fixed;
    left: 50%;
}