 /*fonts*/
    h1{
        font-family:"courier new",courier;
    }
 p{
    font-family: verdana,arial;font-size:1em;font-style:italic;font-weight: bold;
 }
 /*to add a google font first go to google fonts and select a font and then copy the link then paste it in the main html header file then call the font in the css file using the font name*/
 #p1{
  font-family: 'Roboto', sans-serif;
  font-size:1em;
 }

 /*if you have the font stored in your computer then you can use the font name directly use the code
 @font-face{
    font-family: the font name you want to name;
    src: url('the path of the font file');
 }*/




    /*border*/
h1{
    border-style: groove;
    border: 2px solid rgb(180, 111, 111);/*color the border*/
    border-radius: 10px;
    border-width:4px;
    padding: 10px;
    margin: 10px;
}  
#p1{
    border-bottom: 2px solid rgb(40, 18, 18);
}
