div{
    background-color:rgb(66, 116, 160);
    width: 100px;
    height: 100px;
    display: inline-block;
}
span{
    background-color: lightcoral;
    width: 100px;
    height: 100px;
    display: inline-block;
}
/* there is also a visibility property that can be used to hide elements but it will still take space*/
/* visibility: hidden; */   
/* display: none; */
/*display: none will hide the element and remove it from displaying and also doesn't take up space*/
/*display has many values like block, inline, inline-block, none, flex, grid, table, etc.*/
